# Narrative Generation usecase - UID = 577106

Extract information about the usecase for narrative generation (Section 4.7)
- Data: First 20 recommended jobs for user: UID = 577106
- Recommendation system: Logistic Regression; EBM\_side\_info
- Source of potential application: KNN ranking data

Visualization
- LogReg: 1st recommended job
- EBM_\side\_info: 1st recommended job

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Run this for reproduce
# Gets the current working directory
import os
cwd = os.getcwd()
print("Working directory:", cwd)
# Go up one directory from working directory
os.chdir("..")

Working directory: /Users/anhtth/Library/CloudStorage/OneDrive-UniversityofTwente/2023 UT- THESIS/1-Code/0.cb12_main/nb_xai_viz

In [4]:
import pandas as pd
import numpy as np

# Load actual interaction data (true label)

In [5]:
# Load input: train_data_flat, test_data_flat
train_data_flat = pd.read_csv('./xai_posthoc/train_data_flat.csv')
test_data_flat = pd.read_csv('./xai_posthoc/test_data_flat.csv')

In [6]:
drop_cols_flat = ['UserID','JobID', 'label','u_idx','j_idx',
                  'work_history_matrix', 'job_matrix', 
                  'mean_work_history_matrix', 'mean_job_matrix', 
                  'flat_work_history', 'flat_job']
X_train = train_data_flat.drop(columns = drop_cols_flat, axis = 1)
X_test = test_data_flat.drop(columns = drop_cols_flat, axis = 1)

In [7]:
y_train = np.load("./xai_posthoc/y_train_tabular.npy")
y_test = np.load("./xai_posthoc/y_test_tabular.npy")

# Load detail information about the usecase

In [8]:
job_set = pd.read_csv("./data_processed/jobset_clean.csv")
user_set = pd.read_csv("./data_interim/user_set_cleaned.csv")
work_history = pd.read_csv('./data_interim/work_history_cleaned.csv')

In [9]:
user_raw = pd.read_csv("./data_processed/users_clean.csv")
history_raw = pd.read_csv("./data_processed/work_history.csv")

## User information: UID = 577106

In [10]:
posthoc_sample = test_data_flat.iloc[0:20,:]

In [11]:
posthoc_sample

,UserID,JobID,label,City,State,Country,DegreeType,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,...,job_matrix_90,job_matrix_91,job_matrix_92,job_matrix_93,job_matrix_94,job_matrix_95,job_matrix_96,job_matrix_97,job_matrix_98,job_matrix_99
0,13,821691,1,0.0,1.0,1.0,4,6,5.0,1,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.142635,0.000000,0.000000,0.000000
1,13,329572,0,0.0,0.0,1.0,4,6,5.0,1,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.140024,0.000000,0.000000,0.000000
2,514,131166,1,0.0,0.0,1.0,5,4,5.0,0,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.128310,0.000000,0.000000,0.141762
3,514,620304,0,0.0,0.0,1.0,5,4,5.0,0,...,0.000000,0.061386,0.000000,0.1987,0.000000,0.000000,0.104008,0.000000,0.000000,0.057456
4,681,654542,1,0.0,1.0,1.0,1,2,4.0,0,...,0.000000,0.344611,0.000000,0.0000,0.190686,0.102102,0.218956,0.000000,0.000000,0.000000
5,681,625758,1,0.0,1.0,1.0,1,2,4.0,0,...,0.000000,0.044421,0.132267,0.0000,0.098320,0.000000,0.000000,0.000000,0.000000,0.000000
6,681,15081,1,0.0,1.0,1.0,1,2,4.0,0,...,0.000000,0.648320,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,681,291467,0,0.0,0.0,1.0,1,2,4.0,0,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.164057,0.119839,0.000000,0.090628
8,681,1035056,0,0.0,0.0,1.0,1,2,4.0,0,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.170616
9,681,2083,0,0.0,0.0,1.0,1,2,4.0,0,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,767,85377,1,0.0,1.0,1.0,4,5,16.0,0,...,0.000000,0.068015,0.000000,0.0000,0.075270,0.080606,0.172858,0.000000,0.049518,0.000000
11,767,385582,0,0.0,0.0,1.0,4,5,16.0,0,...,0.000000,0.091604,0.000000,0.0000,0.000000,0.036188,0.051736,0.037792,0.000000,0.028580
12,883,663823,1,1.0,1.0,1.0,1,7,8.0,1,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.232252,0.276700,0.000000,0.095119,0.061142
13,883,136012,0,0.0,0.0,1.0,1,7,8.0,1,...,0.341038,0.178458,0.199262,0.0000,0.000000,0.000000,0.188978,0.386522,0.000000,0.083516
14,1006,655183,1,0.0,1.0,1.0,1,3,6.0,1,...,0.000000,0.072738,0.000000,0.0000,0.080497,0.043102,0.123241,0.045012,0.000000,0.000000
15,1006,466034,0,0.0,0.0,1.0,1,3,6.0,1,...,0.000000,0.000000,0.000000,0.0000,0.180383,0.000000,0.000000,0.000000,0.000000,0.000000
16,1066,709999,1,0.0,1.0,1.0,1,2,6.0,1,...,0.000000,0.114071,0.000000,0.0000,0.378719,0.000000,0.193273,0.000000,0.000000,0.000000
17,1066,1096020,1,0.0,1.0,1.0,1,2,6.0,1,...,0.000000,0.044896,0.033420,0.0000,0.099370,0.053207,0.076068,0.027783,0.000000,0.000000
18,1066,700868,1,1.0,1.0,1.0,1,2,6.0,1,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,1066,726478,0,0.0,0.0,1.0,1,2,6.0,1,...,0.000000,0.000000,0.062639,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.039380

In [12]:
# posthoc_sample.to_csv('./xai_posthoc/posthoc_sample.csv', header=True, index=False)

In [13]:
test_uid = 577106

In [14]:
usecase_info = user_raw[user_raw.UserID==test_uid]
usecase_history = work_history[work_history.UserID==test_uid]

In [15]:
usecase_info

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
171982,577106,5,Test,Chicago,IL,US,60628,Master's,Computer Information Systems,2009-10-01 00:00:00,2,5.0,Yes,Yes,10

In [16]:
usecase_history

        UserID  WindowID Split                   JobTitle
412425  577106         5  Test  Help Desk Analyst Level 3
412426  577106         5  Test          Help Desk Level 3

In [19]:
usecase_info = usecase_info.T

In [21]:
usecase_info

                                            171982
UserID                                      577106
WindowID                                         5
Split                                         Test
City                                       Chicago
State                                           IL
Country                                         US
ZipCode                                      60628
DegreeType                                Master's
Major                 Computer Information Systems
GraduationDate                 2009-10-01 00:00:00
WorkHistoryCount                                 2
TotalYearsExperience                           5.0
CurrentlyEmployed                              Yes
ManagedOthers                                  Yes
ManagedHowMany                                  10

In [22]:
usecase_info.to_csv(f'./xai_posthoc/uid{test_uid}_logreg_xai_viz_user_profile.csv', header=True, index=True)

In [23]:
usecase_history.to_csv(f'./xai_posthoc/uid{test_uid}_logreg_xai_viz_user_history.csv', header=True, index=True)

# Load recommendation data by LogReg

In [25]:
rec_result_logreg = pd.read_csv(f'./nb_xai_viz/logreg_posthoc_recdata_full_uid{test_uid}.csv')

In [26]:
rec_result_logreg

,UserID,JobID,Y_prob,Y_pred,rank,City,State,Country,DegreeType,WorkHistoryCount,...,job_matrix_92,job_matrix_93,job_matrix_94,job_matrix_95,job_matrix_96,job_matrix_97,job_matrix_98,job_matrix_99,label,Y_pred_posthoc
0,577106,1101453,0.996897,1,0,1.0,1.0,1.0,5.0,2.0,...,0.000000,0.127934,0.000000,0.000000,0.066966,0.000000,0.000000,0.000000,0,1
1,577106,904438,0.993969,1,1,1.0,1.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.232015,0.066340,0.000000,0.000000,0.036648,0,1
2,577106,209362,0.988218,1,2,0.0,1.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.067018,0.095813,0.139977,0.000000,0.052929,0,1
3,577106,1267,0.985597,1,3,1.0,1.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.023572,0.000000,0.000000,0.052087,0,1
4,577106,280138,0.955529,1,4,0.0,1.0,1.0,5.0,2.0,...,0.000000,0.000000,0.144416,0.000000,0.000000,0.000000,0.000000,0.000000,0,1
5,577106,855621,0.935662,1,5,0.0,1.0,1.0,5.0,2.0,...,0.000000,0.207331,0.000000,0.000000,0.000000,0.079275,0.000000,0.000000,0,1
6,577106,307625,0.913748,1,6,0.0,1.0,1.0,5.0,2.0,...,0.000000,0.000000,0.094228,0.100908,0.000000,0.000000,0.000000,0.039847,0,1
7,577106,703570,0.878144,1,7,0.0,1.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.131543,0.192178,0.000000,0.000000,0,1
8,577106,551173,0.308526,0,8,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.159113,0.000000,0.121801,0.000000,0.000000,0.134571,0,0
9,577106,1015597,0.284148,0,9,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.071705,0.104758,0.000000,0.079223,0,0
10,577106,1069274,0.276084,0,10,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.245716,0.000000,0.000000,0,0
11,577106,516320,0.242377,0,11,0.0,0.0,1.0,5.0,2.0,...,0.126768,0.000000,0.000000,0.050456,0.144271,0.052693,0.000000,0.039849,0,0
12,577106,162559,0.228717,0,12,0.0,0.0,1.0,5.0,2.0,...,0.099332,0.000000,0.000000,0.079072,0.113046,0.000000,0.000000,0.124898,0,0
13,577106,974309,0.221867,0,13,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.134015,0.000000,0.000000,0.000000,0.000000,0.000000,0,0
14,577106,485740,0.219137,0,14,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.121650,0.000000,0.106426,0.038871,0.000000,0.102886,0,0
15,577106,851595,0.215840,0,15,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.169833,0.000000,0.260014,0.000000,0.223457,0.143637,0,0
16,577106,872467,0.211408,0,16,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.085206,0.000000,0.000000,0.095290,0.000000,0.000000,0,0
17,577106,246311,0.209985,0,17,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.080376,0.000000,0.000000,0.000000,0.063478,0,0
18,577106,925784,0.194817,0,18,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.058359,0.085259,0.000000,0.128954,0,0
19,577106,509593,0.189710,0,19,0.0,0.0,1.0,5.0,2.0,...,0.000000,0.000000,0.000000,0.000000,0.035107,0.051289,0.000000,0.038787,0,0

### Use case: 1st recommended job by logreg model for post-hoc visualization

In [27]:
rec_result_logreg_job = job_set[job_set.JobID == rec_result_logreg.loc[0].JobID]

In [28]:
rec_result_logreg_job

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
537012,1101453,3,Customer Service Representative,"Headquartered in Chicago, IL, SafeSpeed is a p...",Normal0falsefalsefalseEN-USX-NONEX-NONERespons...,Chicago,IL,US,60661.0,2012-04-11 15:45:27.57,2012-05-10 23:59:59

In [29]:
rec_result_logreg_job[['Title', 'JobID', 'Description']].to_csv(f'./xai_posthoc/uid{test_uid}_logreg_xai_viz_job_description.txt', sep='\n', encoding='utf-8')

In [30]:
rec_result_logreg_job[['Title', 'JobID', 'Requirements']].to_csv(f'./xai_posthoc/uid{test_uid}_logreg_xai_viz_job_requirement.txt', sep='\n', encoding='utf-8')

# Load recommendation data by EBM

In [32]:
rec_result_ebm = pd.read_csv(f'./nb_xai_viz/ebm_local_recdata_full_uid{test_uid}.csv')

In [33]:
rec_result_ebm

,UserID,JobID,Y_prob,Y_pred,rank,City,State,Country,DegreeType,CurrentlyEmployed,ManagedOthers,WorkHistoryTopic,WorkHistoryLevel,SeniorLevel,ReqTopic,DescTopic,TitTopic,label,Y_pred_posthoc
0,577106,92240,0.551191,1,0,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,16,18,0,1.0,1
1,577106,16606,0.551191,1,1,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,16,18,0,1.0,1
2,577106,367673,0.551191,1,2,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,16,18,0,1.0,1
3,577106,14404,0.506422,1,3,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,16,1,0,1.0,1
4,577106,927790,0.503831,1,4,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,16,9,0,1.0,1
5,577106,766469,0.480923,0,5,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,2,0,0.0,0
6,577106,649469,0.480923,0,6,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,2,0,0.0,0
7,577106,356244,0.480923,0,7,0.0,1.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,2,0,0.0,0
8,577106,500312,0.480923,0,8,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,2,0,0.0,0
9,577106,1017568,0.480923,0,9,1.0,1.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,2,0,0.0,0
10,577106,610171,0.480923,0,10,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,2,0,0.0,0
11,577106,251074,0.473254,0,11,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,5,2,0,0.0,0
12,577106,281238,0.472713,0,12,1.0,1.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
13,577106,453343,0.472713,0,13,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
14,577106,24530,0.472713,0,14,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
15,577106,476420,0.472713,0,15,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
16,577106,1052122,0.472713,0,16,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
17,577106,899538,0.472713,0,17,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
18,577106,480445,0.472713,0,18,0.0,1.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0
19,577106,96236,0.472713,0,19,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,2.0,18,15,0,0.0,0

In [34]:
rec_result_ebm_job = job_set[job_set.JobID == rec_result_ebm.loc[0].JobID]

In [35]:
rec_result_ebm_job

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
829975,92240,6,Outside Sales Representative - B2B,Independent Sales Representatives! Register Ta...,For immediate consideration call (248) 514-199...,Columbus,OH,US,NaN,2012-05-29 02:06:09.663,2012-06-28 23:59:00

In [36]:
rec_result_ebm_job[['Title', 'JobID', 'Description']].to_csv(f'./xai_posthoc/uid{test_uid}_ebm_xai_viz_job_description.txt', sep='\n', encoding='utf-8')

In [37]:
rec_result_ebm_job[['Title', 'JobID', 'Requirements']].to_csv(f'./xai_posthoc/uid{test_uid}_ebm_xai_viz_job_requirement.txt', sep='\n', encoding='utf-8')